html {
  font-size: 62.5%
}

body {
  font-family: 'Roboto';
  background: #F1F1F1;
}

.wrapper {
    box-shadow: 0 0 5px #ccc;
    background: #fff;
    max-width: 600px;
    margin: auto;
    margin-top: 70px;
}

.headerText {
  width: 100%;
  text-align: center;
}

.searchBar {
  background-color: #fff;
  padding-top: 20px;
  .searchText {
    width: 100%;
  }
}

.contributeButton {
  position: fixed;
  right: 30px;
  top: 30px;
}

.absCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}

.link {
  text-decoration: none;
}

.subHeader {
  font-size: 20px;
  font-weight: bold;
  color: #FF4081;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
}